.spinner {
	background-image: linear-gradient(
		var(--primary-color-dark) 35%,
		var(--tertiary-color-light)
	);
	width: 100px;
	height: 100px;
	animation: spinning82341 1.7s linear infinite;
	text-align: center;
	border-radius: 50px;
	filter: blur(1px);
	box-shadow: 0px -5px 20px 0px var(--primary-color-dark),
		0px 5px 20px 0px var(--tertiary-color-light);
}

.spinner1 {
	background-color: rgb(36, 36, 36);
	width: 100px;
	height: 100px;
	border-radius: 50px;
	filter: blur(10px);
}

@keyframes spinning82341 {
	to {
		transform: rotate(360deg);
	}
}
